<%= form_for(@point_category) do |f| %>
  <% if @point_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_category.errors.count, "error") %> prohibited this point_category from being saved:</h2>

      <ul>
      <% @point_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
